FLASK_DEBUG=True
SECRET_KEY=change-me-in-production
PORT=5001
HUGGINGFACE_API_KEY=**clé_huggingface**
ANTHROPIC_API_KEY =**clé_anthropic**
MISTRAL_API_KEY=**clé_mistral**
GROQ_API_KEY=**clé_groq**
MOCK_MODE=false